* {
  margin: 0;
  padding: 0;
}

.wrap-avail {
  width: 100%;
  background-color: #ffffff;
  gap: 20px;
}

.avail-containter {
  margin: 0 auto;
  max-width: 1140px;
  height: 733px;
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
  gap: 0px 80px;
}

/* avail-card */

.avail-card {
  width: 696px;
  height: 733px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
  /* flex-direction: column; */
}

.avail-card a {
  text-decoration: none;
}

.avail-card-1,
.avail-card-2,
.avail-card-3,
.avail-card-4 {
  width: 328px;
  height: 345.08px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.avail-card-1 .card-top {
  background-image: url("/img/htmlcss.png");
}
.avail-card-2 .card-top {
  background-image: url("/img/photograph.png");
}
.avail-card-3 .card-top {
  background-image: url("/img/js.png");
}
.avail-card-4 .card-top {
  background-image: url("/img/design.png");
  /* height: auto; */
}

.card-top {
  /* position: relative; */
  /* z-index: 9900; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: rgb(58, 46, 46);
  width: 328px;
  height: 240.57px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-size: cover;
  background-position: center center;
  /* box-shadow: inset 0px -100px 18px -15px rgba(0, 0, 0, 0.1); */
}

.card-top-tag {
  /* position: absolute; */
  height: 43.25px;
  width: 123.45px;
  background-color: rgba(84, 91, 232, 1);
  font: 700 16.25px "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 21.62px;
}

.card-top-price {
  /* position: absolute; */
  height: 43.25px;
  width: 123.45px;
  color: #ffffff;
  /* background-color: #141e32; */
  font: 700 21.67px "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

/* card-bottom */

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 19px;
  position: relative;
  box-shadow: 0px -76px 39px -9px rgba(0, 0, 0, 0.1);
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.avail-card .card-bottom .card-bottom-title {
  font: 700 21.67px "Poppins", sans-serif;
  color: rgba(20, 30, 50, 1);
  line-height: 32.51px;
}

.card-bottom-views {
  color: #545be8;
  font: 400 16.25px "Poppins", sans-serif;
  line-height: 18.96px;
}

.card-bottom-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.card-bottom-btm {
  display: flex;
  gap: 0px 14px;
  flex-direction: row;
  align-items: center;
  color: rgba(150, 150, 150, 1);
  font: 400 16.25px "Poppins", sans-serif;
  line-height: 24.38px;
}

/* avail-text */

.avail-text {
  width: 364px;
  height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avail-text-1 {
  font: 400 18px "Inter", sans-serif;
  line-height: 21.78px;
  color: #545be8;
}

.avail-text-2 {
  font: 700 40px "poppins", sans-serif;
  width: 364px;
  line-height: 60px;
  color: #141e32;
}

.avail-text-3 {
  font: 400 18px "poppins", sans-serif;
  line-height: 27px;
  color: #969696;
}

.avail-btn-base {
  border-radius: 10px;
  gap: 10px;
  color: #ffffff;
  background-color: #545be8;
  width: 170px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font: 700 18px "Inter", sans-serif;
}
